* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
